#searchContainer {
margin: 50px;

}

.label {
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    font-size: 24px;
    padding: 5px;
}

#search {
    font-family: 'Baloo Da 2', cursive;
    font-size: 20px;
}